@page
@model GoldenGuardians.Pages.AboutUsModel
@{
	ViewData["Title"] = "About Us";
}

<div>
	<h3 style="text-align:center;">Spreading Love and Joy Together</h3><br>
	<img src="https://www.dignitylifestyle.org/images/about-us/our-turstees.jpg" style="align-content:center;" />
</div>
<div style="margin:20px; text-align:center;align-content:center;">
	<h3>What we do?</h3>
	<p class="main">
		GoldenYears Guardiuan, is a retirement home or senior living community, we provide a supportive environment for elderly individuals who may require assistance with daily tasks or who seek companionship in their later years.
		The facilities offer a range of services including healthcare, meal preparation, recreational activities, and socialization opportunities to ensure the well-being and comfort of their residents.
		In addition to meeting physical needs, our old age homes strive to create a sense of community and belonging, fostering relationships among residents and staff members alike.
		We prioritize independence and autonomy, empowering residents to maintain control over their lives while offering assistance as needed.
		The facilities often feature comfortable accommodations and amenities tailored to the needs and preferences of older adults, promoting a fulfilling and enriching lifestyle during the later stages of life.
		Overall, we play a crucial role in providing a supportive and caring environment for elderly individuals, allowing them to age with dignity and grace.
	</p>
</div>
<div class="info" style="margin-top:30px; text-align:center;align-content:center; ">
	<div class="id"style=" padding:10px;">
		<h4>Our Journey So far</h4>
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel velit sollicitudin, rhoncus elit ac, mollis lacus. Etiam in turpis ullamcorper, maximus risus non, pharetra orci. Fusce molestie scelerisque purus. Sed non turpis nec lectus feugiat lacinia sit amet eu dui. Vivamus rutrum mauris ac tempor dignissim. Integer leo lacus, placerat non magna sed, accumsan pharetra ipsum. Donec quis efficitur nunc, vel posuere sem. Nulla faucibus dolor vitae eleifend venenatis. Pellentesque laoreet, diam id mattis lobortis, dui metus hendrerit neque, vitae feugiat leo erat bibendum dui. Nunc eu dolor eget elit molestie venenatis a ac neque. Fusce tortor nunc, consectetur ut urna ut, aliquam ornare tortor. Sed et neque id erat eleifend elementum ac sed magna. Morbi pretium rutrum dignissim. Integer vel libero massa. Integer varius, lectus non ullamcorper sagittis, diam orci egestas ex, vitae tempor libero dui nec mauris. Phasellus tempor risus nisi, a pulvinar tortor efficitur at.</p>
		</div>
	</div>

	<div style="margin:30px;">
		<div><span>10+</span><h4> years of operation</h4></div>
		<div><span>7+</span> <h4>years of spreading smiles in the lives of elders</h4> </div>
		<div><span>2000+</span><h4>seniors living together as a family</h4></div>

	</div>
</div>
<div>
	<div class="id" style=" text-align:center;  ">
		<h2 style="margin-top:70px; padding:10px;">The Golden Years Family</h2>
		<h3 style=" margin:20px; padding-bottom:10px;">Our Trustees</h3>
	</div>
	<div class="directors">
		<div class="col-sm-6 d-flex text-center director">
			<img src="https://img.freepik.com/free-photo/portrait-successful-senior-businessman_1098-16756.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1700438400&semt=ais" />
			<h4>&nbsp; &nbsp; &nbsp;Divyansh Azad <br /><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Managing Director</span></h4>
		</div>
		<div class="row align-items-center justify-content-center">
			<div class="col-md-6 d-flex text-center director">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-nL0vJZ5DiB1ShuTJgy4G6el4YCqpgcTPww&usqp=CAU" />
				<h4> &nbsp; &nbsp;Yogesh Abuj <br /> &nbsp; &nbsp;Head of Projects</h4>
			</div>
			<div class="col-md-6 d-flex text-center director">
				<img src="https://t4.ftcdn.net/jpg/02/14/74/61/360_F_214746128_31JkeaP6rU0NzzzdFC4khGkmqc8noe6h.jpg" />
				<h4> &nbsp; &nbsp;Rohan Vikhe<br /> &nbsp; &nbsp;Chairperson</h4>
			</div>
		</div>

		<div class="row align-items-center justify-content-center">
			<div class="col-md-6 d-flex text-center director">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJjZGudEWttBvqhiv7jQ35o2y1MkyYton75A&usqp=CAU" />
				<h4> &nbsp; &nbsp;Sakshi Bhujbal<br /> &nbsp; &nbsp;Social Worker</h4>
			</div>
			<div class="col-md-6 d-flex text-center director">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDmyNecLCUEOXNIbPWflUE1fmjLBBlG2d4bg&usqp=CAU" />
				<h4> &nbsp; &nbsp;Shreya G.<br /> &nbsp; &nbsp;Chairperson</h4>
			</div>
		</div>
	</div>

</div>

<style>
	body {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		background-image: url('https://previews.123rf.com/images/anagram1/anagram11605/anagram1160500025/58131575-yellow-watercolor-background.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	.directors {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	.id{
		background: rgba(20,10,100,0.05);
	}

	.director img {
		width: 250px;
		height: 250px;
		border-radius: 100%;
		object-fit: cover;
		padding: 20px;
	}

	.directors h4 {
		margin-top: 100px;
	}

	.info span {
		text-align: center;
		display: block;
		color: #7AA2E3;
		font-size: 40px;
		font-weight: 700;
	}

	.row {
		margin: 10px;
		width: 85%;
	}
</style>