@page
@model GoldenGuardians.Pages.AboutUsModel
@{
	ViewData["Title"] = "About Us";
}

<body> 

	<br /><div><h3>Spreading Love and Joy Together</h3><br>
			<img src="https://www.dignitylifestyle.org/images/about-us/our-turstees.jpg" />
	</div>
	<div>
		<h3>What we do?</h3>
		&nbsp;&nbsp;&nbsp;&nbsp;<p class="main">
			GoldenYears Guardiuan, is a retirement home or senior living community, we provide a supportive environment for elderly individuals who may require assistance with daily tasks or who seek companionship in their later years. 
			The facilities offer a range of services including healthcare, meal preparation, recreational activities, and socialization opportunities to ensure the well-being and comfort of their residents. 
			In addition to meeting physical needs, our old age homes strive to create a sense of community and belonging, fostering relationships among residents and staff members alike.
			We prioritize independence and autonomy, empowering residents to maintain control over their lives while offering assistance as needed. 
			The facilities often feature comfortable accommodations and amenities tailored to the needs and preferences of older adults, promoting a fulfilling and enriching lifestyle during the later stages of life. 
			Overall, we play a crucial role in providing a supportive and caring environment for elderly individuals, allowing them to age with dignity and grace.
		</p>
	</div>
	<div><h4>Our Journey So far</h4>
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel velit sollicitudin, rhoncus elit ac, mollis lacus. Etiam in turpis ullamcorper, maximus risus non, pharetra orci. Fusce molestie scelerisque purus. Sed non turpis nec lectus feugiat lacinia sit amet eu dui. Vivamus rutrum mauris ac tempor dignissim. Integer leo lacus, placerat non magna sed, accumsan pharetra ipsum. Donec quis efficitur nunc, vel posuere sem. Nulla faucibus dolor vitae eleifend venenatis. Pellentesque laoreet, diam id mattis lobortis, dui metus hendrerit neque, vitae feugiat leo erat bibendum dui. Nunc eu dolor eget elit molestie venenatis a ac neque. Fusce tortor nunc, consectetur ut urna ut, aliquam ornare tortor. Sed et neque id erat eleifend elementum ac sed magna. Morbi pretium rutrum dignissim. Integer vel libero massa. Integer varius, lectus non ullamcorper sagittis, diam orci egestas ex, vitae tempor libero dui nec mauris. Phasellus tempor risus nisi, a pulvinar tortor efficitur at.</p>
		</div>
		<p>10+ years of operation <br /> 7+ years of spreading smiles in the lives of elders<br /> 2000+ seniors living together as a family<br />presence in pune,mumbai,bangalore,chennai,delhi</p>
	</div>
	<div>
		<h3>The Golden Years Family</h3>
		<h4>Our Trustees</h4>
		<div class="row">
			<div class="col-sm-6 d-flex text-center">
				<img src="https://img.freepik.com/free-photo/portrait-successful-senior-businessman_1098-16756.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1700438400&semt=ais" style="width:600px; height:350px;" />
			</div>

			<div class="col-sm-6">
				<h4>Divyansh Azad</h4>
				<h5>Managing Director</h5>
			</div>
		</div><br>
			<div class="row">
				<div class="col-sm-6 d-flex text-center">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-nL0vJZ5DiB1ShuTJgy4G6el4YCqpgcTPww&usqp=CAU" style="width:400px; height:200px;" />
					<h5>Yogesh Abuj</h5><br>
					<h6>Head of Projects</h6>
				</div>
				<div class="col-sm-6 d-flex text-center">
					<img src="https://t4.ftcdn.net/jpg/02/14/74/61/360_F_214746128_31JkeaP6rU0NzzzdFC4khGkmqc8noe6h.jpg" style="width:400px; height:200px;" />
					<h5>Rohan Vikhe</h5><br>
					<h6>Chairperson</h6>
				</div>
			</div><br>
			<div class="row">
				<div class="col-sm-6 d-flex text-center">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJjZGudEWttBvqhiv7jQ35o2y1MkyYton75A&usqp=CAU" style="width:400px; height:200px;" />
					<h5>Sakshi Bhujbal</h5><br>
					<h6>Social Worker</h6>
				</div>
				<div class="col-sm-6 d-flex text-center">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDmyNecLCUEOXNIbPWflUE1fmjLBBlG2d4bg&usqp=CAU" style="width:400px; height:200px;" />
					<h5>Shreya Ghadage</h5>
					<br><h6>Chairperson</h6>
				</div>
			</div>
	<div>
		<h4>Humbled to be recognised for our efforts</h4>
	</div>
	<style>
		.main{
			font-family: Bahnschrift;
			
		}
	</style>


</body>