@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}



<body>




	<div class="container-fluid text-center">
		<br />
		<h2>Managing Aging with Dignity and Love</h2>
		<br />

		<h4>To Become a part of our Family, Kindly Login below!!</h4><br />
		<a class="btn btn-warning btn-lg" asp-area="" asp-page="/Login" role="button"> LOGIN <br /></a>
	</div>



	<style>
		body {
			background-image: url('https://wallpapercave.com/wp/wp7526625.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}

		h2,h4 {
			font-family: Consolas;
			font-weight: bold;
			color: black;
		}
		.button{
			color: aquamarine;
			size : 50px;
		}
		
	</style>
</body>
