@page
@model GoldenGuardians.Pages.ServicesModel
@{
	ViewData["Title"] = "Services";
}

<body>

	<div>
		<div><h1 style="text-align: center; padding-bottom: 10px; font-family: Roboto;">NO WRINKLE CAN TOUCH A YOUTHFUL HEART</h1></div>
		<div class="heading" style=" font-family: Montserrat;">Services Provided</div>

		<div class="container">
			<div class="service">
				<span class="material-symbols-outlined">
					golf_course
				</span>
				<div class="s_title">Golf Playing</div>
			</div>
			<div class="service">
				<span class="material-symbols-outlined">
					forest
				</span>
				<div class="s_title">Forest Walk</div>
			</div>
			<div class="service">
				<span class="material-symbols-outlined">
					sports_tennis
				</span>
				<div class="s_title">Tennis Court</div>
			</div>
			<div class="service">
				<span class="material-symbols-outlined">
					yard
				</span>
				<div class="s_title">Walk Garden</div>
			</div>
			<div class="service">
				<span class="material-symbols-outlined">
					celebration
				</span>
				<div class="s_title">Party Hall</div>
			</div>
			<div class="service">
				<span class="material-symbols-outlined">
					library_books
				</span>
				<div class="s_title">Library</div>
			</div>
			<div class="service">
				<span class="material-symbols-outlined">
					fitness_center
				</span>
				<div class="s_title">Gym</div>
			</div>
			<div class="service">
				<span class="material-symbols-outlined">
					medical_services
				</span>
				<div class="s_title">Medical Centre</div>
			</div>
			<div class="service">
				<span class="material-symbols-outlined">
					groups_3
				</span>
				<div class="s_title">Meeting Room</div>
			</div>
			<div class="service">
				<span class="material-symbols-outlined">
					chess
				</span>
				<div class="s_title">Indoor Games</div>
			</div>
		</div>
		<section class="location">
			<h2 class="location top-title" style="text-align: center; font-family: Montserrat;">LOCATION ADVANTAGES</h2>
			<p style="text-align:center;">
				<small>Your homes are located strategically and comes wih great connectivity</small>
			</p>
			<div class="location split-section m-t-50">
				<div class="row">
					<div class="card12 col-md-6 col-sm-6">
						<h3 style="text-align:center;">Hospitals</h3>
						<div style="text-align:center;"><span class="material-symbols-outlined">home_health</span></div>
						<div class="location lists" style="color: floralwhite; margin-top:0;">
							<ul style="list-style: none; color: black;">
								<li>Hospitech Multispeciality – 10 Min</li>
								<li>Columbia Asia Hospital -15 Min</li>
								<li>Narayana Multispeciality Hospital – 15 Min</li>
								<li>St. John Hospital -25 Min</li>
							</ul>
						</div>
					</div>

					<div class="card12 col-md-6 col-sm-6">
						<h3 style="text-align:center;">Entertainment and Shopping</h3>
						<div style="text-align:center;"><span class="material-symbols-outlined">local_mall</span></div>
						<div class="location lists" style="color: floralwhite; margin-top: 0;">
							<ul style="list-style: none; color: black;">
								<li>More Supermarket – 15 Min</li>
								<li>Elpro Mall -10 Min</li>
								<li>KLM fashion Mall- 5 Min</li>
								<li>Sring Wholesale -20 Min</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</section>

		<section class="facility">
			<div class=" row align-items-center justify-content-center ">
				<div class="col-md-6">
					<div>
						<h5>You are in Safe Hands</h5>
					</div>
					<p class="desc">
						Well-trained security staff to monitor the movement of vehicles, visitors and vendors<br />
						Secure gated community<br />
						CCTV cameras in common areas<br />
						Stringent security at entrance 24x7
					</p>
				</div>
				<div class="col-md-6">
					<img src="~/css/care.jpeg" class="advantage-image text-center col-lg-7 order-lg-2" />
				</div>
			</div><br /><br />

			<div class="row align-items-center justify-content-center ">
				<div class="col-md-6">
					<img src="~/css/medic.jpeg" class="advantage-image text-center col-lg-7 order-lg-2" />
				</div>
				<div class="col-md-6">
					<h5>Medical Facilities</h5>
					<p class="desc">
						Proactive health care approach, regular health monitoring<br />
						24*7 Medical attention with quality care<br />
						24*7 Ambulance on Campus<br />
						Nurses, Doctor & Physiotherapist available on campus<br />
						Health records are maintained from onboarding of the residents
					</p>
				</div>
			</div><br /><br />

			<div class="row align-items-center justify-content-center">
				<div class=" col-md-6">
					<div>
						<h5>Good Food Good Life</h5>
					</div>
					<p class="desc">
						In-house restaurant with food cooked by professional chefs<br />
						Meals planned by nutritionist keeping the dietary requirements of elders<br />
						High Standards of hygiene maintained by staff<br />
						Spaces for seniors to eat together and socialize<br />
						Delicious meals prepared for every festival and on special occasions
					</p>
				</div>
				<div class="col-md-6">
					<img src="~/css/food.jpeg" />
				</div>
			</div>
		</section>

		<section class="floor_plans">
			<div>
				<h2 class="top-title m-b-20 " style="text-align:center">FLOOR PLANS</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="image_plan">
							<img src="~/lib/floor plan 1.png">

						</div>
					</div>
					<div class="col-md-6">
						<div class="image_plan">
							<img src="~/lib/floor plan 2.png">

						</div>
					</div>
				</div>
			</div>
		</section>
</body>
<br />
<br />
<br />


<style>
	.heading {
		color: black;
		text-align: center;
		font-size: 180%;
		background: rgba(20,10,100,0.05);
	}

	body {
		margin: 0;
		padding: 0; 
		background-image: url('https://img.freepik.com/free-vector/watercolor-amber-background_23-2150241002.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1712361600&semt=ais');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	h1 {
		margin: 0;
	}

	.container {
		max-width: 100%;
		margin: 20px auto;
		padding: 0 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.service {
		width: 30%;
		margin: 10px;
		text-align: center;
		font-family: Roboto;
	}

		.service img {
			width: 100px;
			border-radius: 50%;
		}

	.s_title {
		margin: 0;
		font-family: Roboto;
	}

	.material-symbols-outlined {
		font-size: 50px;
	}

	.location, .floor_plans {
		background: rgba(20,10,100,0.05);
		margin-top: 30px;
		font-family: Roboto;
	}

	.top-title {
		padding-top: 15px;
	}


	.card12 {
		border: 1px solid;
		border-color: white;
		border-radius: 8px;
		left: 20px 20px;
	}

	.image_plan {
		border: 1px solid;
		border-color: white;
		border-radius: 8px;
		left: 20px 20px;
	}

	.facility {
		margin: 20px;
	}

		.facility p {
			margin-top: 10px;
			font-size: 15px;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		}

		.facility img {
			height: 250px;
			width: 350px;
		}
</style>
